# Ignore tex auxillary files
*.aux
*.log
*.bbl
*.blg
*.toc
*.sout
*.out
*.nav
*.snm
*.tmp
*.rel
*.auxlock
*.swp
*.vrb
*.DS_Store
*.dvi
*.idx
figures/*.pdf
figures/*.sage
figures/*.dpth
/*.sage
/*.py
/multivariable-calculus.pdf
sage-plots-for-*
# Ignore editor backup files
*~
\#*\#
.\#*

# Ignore the emacs auto directories
auto
